* {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}


@import url("/styles.css");

#navbar {
    width: 95%;
    position: fixed;
    list-style: none;
    padding: 20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

#navbar li a h2 {
    color: var(--bgLevel2);
    font-weight: 400;
    font-size: 2rem;
    font-style: italic;
    font-family: "Molle", cursive;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.7);
}

#navbarLeft {
    width: 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hamburger {
    display: none;
    flex-direction: column;
}

#hamburger span {
    width: 40px;
    height: 3px;
    margin: 4px;
    background-color: var(--bgLevel2);
}

@media (max-width: 850px) {
    #hamburger {
        display: flex;
    }

    #hamburger span {
        transition: 0.3s ease;
    }

    .lapFirstNav {
        display: none;
    }

    #hamburger.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    #hamburger.open span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }

    .lapFirstNavBg {
        color: white;
        height: 100vh;
        background-color: rgba(84, 110, 100, 0.497);
        backdrop-filter: blur(0.1px);
    }

    .lapFirstOpen {
        margin: auto;
        text-align: center;
        display: block;
        flex-direction: column;
    }

    #navbarLeft {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        gap: 1rem;
        border-radius: 5px;
        position: fixed;
        left: 2rem;
        top: 7rem;
    }

    #navbarLeft a {
        padding: 0.5rem;
        font-size: 1.5rem;
    }
}

a {
    font-size: 1.2rem;
    color: var(--bgLevel2);
    text-decoration: none;
}

a:hover {
    color: var(--bgLevel1);
}

footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    height: 15%;
    width: 100%;
    /* overflow: hidden; */
}

footer img{
    margin:10px 3.5rem 10px 3.5rem;
    width: 4rem;
}

